.topicoAlvo {
     margin-left: 20px;
     margin-right: 20px;
     margin-up: 20px;
     margin-down: 20px;
}

.selecioneTopico  {
    font-size: large
}

.disciplina {
    font-size: large
}

.caminho {
    font-size: x-large
}

.topico {
   margin-left: 20px;
}

.oa {
   margin-left: 30px;
}

div.horizontalDiv {
    clear: left;
    margin-bottom: 2px;
    margin-top: 2px;
}

div.horizontalDiv div {
    float: left;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 4px;
    margin-right: 4px;
}

div.clearBothDiv {
    clear: both;
}

.goal {
   color:#FF0000;
}

.notGoal {
   color:#0000FF;
}

body {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

.container {
  background-color: #F7F7F7;
  border: 1px solid rgba(0, 0, 0, .05);
  padding: 3px;
}

.preview {
  position: relative;
  cursor: pointer;
  float: left;
  padding-right: 5px;
}

.play {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.info-small {
  text-size: 8pt;
  color: gray;
}

a {
  color: #3B5998;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
​